// start .headerBlock
.headerBlock {

	--sTPB: #{rem(38)};
	--sPT: #{rem(26)};
	@include media-breakpoint-up(md){
		--sTPB: #{rem(59)};
		--sPT: #{rem(38)};
	}
	--sPB: #{rem(45)};
	//@include media-breakpoint-up(xl){
	//	--sPT: #{rem(99)};
	//	--sPB: #{rem(36)};
	//}
	@include media-breakpoint-up(xl){
		--sPT: #{rem(0)};
		--sPB: #{rem(0)};
	}

	&__img-xl-container{
		position: relative;
		z-index: 1;
	}
	&__img{
		&--xl{
			top: 70px!important;
			transform: none!important;
		}
	}

	&__row{

	}
	&__container{
		position: relative;
		z-index: 3;

		margin-bottom: 67px;
		@include media-breakpoint-up(md){
			margin-bottom: 73px;
		}
		@include media-breakpoint-up(xl){
			margin-bottom: 0;
		}
	}
	.section-title{
		h1{
			margin-bottom: 40px;

			font-size: 36px;
			@include media-breakpoint-up(md){
				font-size: 48px;
			}
		}
		p{
			margin-bottom: 30px;
			font-family: $mono;

			@include media-breakpoint-down(md){
				max-width: 487px;
				margin-left: auto;
				margin-right: auto;
			}
			@include media-breakpoint-between(md,xl){
				max-width: 640px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&__btns-row{
		@include roww(12px);
		@include media-breakpoint-up(md){
			@include roww(20px);
		}
	}
	//
	&__btn{
		@extend .btn;
		min-width: 240px;

		&--connect{
			@extend .btn-success;

		}
		&--presentation{
			@extend .btn-dark;
		}
	}
	&__img{
		position: absolute;
		z-index: -1;

		display: flex;
		justify-content: center;

		top: calc(100% - 155px);
		@include media-breakpoint-up(md){
			top: calc(100% - 120px);
		}
		left: 0;
		transform: none;
		width: 100%;
		@include media-breakpoint-up(xl){
			left: calc(100% * 7 / 12);
			transform: translateY(-50%);
			top: 50%;
			width: calc(100% * 5 / 12);
		}
		@include media-breakpoint-up(xxl){
			left: 50%;
			transform: translateY(-50%);
			top: 50%;
			width: 50%;
		}

		img{
			width: auto;
			max-width: 100%;
		}
	}

	//form-wrap
	.form-wrap{
		&__big-title{
			font-weight: 600;
			line-height: 1.35;

			font-size: 36px;
			@include media-breakpoint-up(md){
				font-size: 48px;
			}

			margin-bottom: 40px;
		}
		&__descr{
			margin-bottom: 40px;
			@include media-breakpoint-up(md){
				margin-bottom: 60px;
			}
		}
		&__row{
			@include roww(12px);
			--bs-gutter-y: 12px;
			padding-bottom: 12px;
			@include media-breakpoint-up(md){
				@include roww(20px);
				--bs-gutter-y: 20px;
				padding-bottom: 60px;
			}
		}
		&__input-wrap{

		}
		&__input{
			&:focus{
				border: 1px solid $green;
				box-shadow: inset 0 0 0 1px $green;
			}

			&.error{
				border: 1px solid $danger!important;
				box-shadow: inset 0 0 0 1px $danger!important;
				&:focus{
					border: 1px solid $danger!important;
					box-shadow: inset 0 0 0 1px $danger!important;
				}
			}
		}
		&__btn-cont{

		}
		&__btn{
			@extend .btn;
			@extend .btn-success;

			min-width: 100%;
			margin-bottom: 40px;
			@include media-breakpoint-up(md){
				min-width: 348px;
				margin-bottom: 60px;
			}
			@include media-breakpoint-up(xl){
				min-width: calc(50% - var(--bs-gutter-x)/2);
			}
		}
		&__policy{
			color: $gray-620;

			a{
				color: $gray-620;
				text-decoration: underline;
				&:hover{
					color: $primary;
					text-decoration: none;
				}
			}
		}
		&__{}
		&__{}
	}

	//
	&__{}
	&__{}
}

.hb-sliders{
	position: relative;
	z-index: 3;
	@include media-breakpoint-up(xl){
		transform: rotate(45deg) translateX(-350px) translateY(-370px);
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
	}
	@include media-breakpoint-up(xxl){
		transform: rotate(45deg) translateX(-400px) translateY(-400px);
	}
	@include media-breakpoint-up(base){
		transform: rotate(45deg) translateX(-400px) translateY(-545px);
	}
	@media (min-width: 1921px) {
		transform: rotate(45deg) translateX(-30vw) translateY(-38vw);
	}
	@media (min-width: 2600px) {
		transform: rotate(45deg) translateX(-30vw) translateY(-48vw);
	}

	&__wrap{

	}
	&__slider{
		.swiper-container{
			overflow: visible!important;
		}
		.swiper-wrapper{
			transition-timing-function: linear;
		}
		.swiper-slide{
			width: 414px;
		}

		margin-bottom: 20px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__link{
		display: block;
		width: 100%;
		height: 237px;
		filter: drop-shadow(0px 4px 15px rgba(25, 28, 31, 0.15));
	}
	&__pic{
		overflow: hidden;
		width: 100%;
		height: 100%;

		img{
			border-radius: 10px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__{}
	&__{}
}

// end.headerBlock
//
.main-content-js,
.form-content-js,
.thanks-content-js,
.content-switch-btn,{
	display: none;
	&.active{
		display: block;
	}
}

.content-switch-btn{
	cursor: pointer;
}