extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'loaded_hiding'
	- let  bg= null

block title
	- let  title= 'Workes | Digital-решения для бизнесов и стартапов которые работают'
	title= title
block pagecontent
	//+mob-mnu()
	+header()
	+top-nav()
	+headerBlock()
	+footer()


