mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js.on
			span
		+e.inner
			+mnu()
			.text-right
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container
			+e.row.row.gy-3
				.col
					+e.logo(href="/")
						img(loading="lazy" src="img/svg/logo.svg" alt="")
				.col-auto.d-none.d-md-block.d-xl-none
					+b.mail-link(href='mailto:info@workes.ru') info@workes.ru
				.col-auto.d-xl-none
					+b.tell-link(href='tel:88006007047') 8 (800) 600-70-47
				.col-auto.d-xl-none
					+b.telegram-ball(href="https://telegram.me/workes_ru")
						img(loading="lazy" src="img/svg/telegram.svg" alt="")
				+e.switch-col.col-auto.content-switch-btn.set-main-js
					+e.switch-content
						+icon('cross')
					//
	// end top-nav